body * {
  letter-spacing: 0.1rem;
}

body {
  display: grid;
  grid-template: 1fr 8fr / 1fr 4fr 1.2fr;
  gap: 2rem;
  padding: 2rem;
  background-image: url(./assets/seasons.jpg);
  background-size: cover;
  background-position: center center;
  height: 100vh;
  position: relative;
  font-family: "Raleway", sans-serif;
}

body > div:first-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.first-sec {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: white;
  padding: 2.5rem;
  width: 100%;
  height: 100%;
  grid-row: 1 / -1;
  grid-column: 1 / span 1;
  z-index: 2;
}

.first-sec fieldset {
  padding: 1rem;
  border-radius: 1.5rem;
  border: 1px solid white;
  cursor: context-menu;
  transition: transform 0.3s ease-in-out;
}

.first-sec fieldset:hover,
fieldset.scale-up {
  transform: scale(1.1);
}

.first-sec legend {
  font-size: 0.8rem;
  border: 1px solid white;
  border-radius: 1rem;
  margin-left: 1rem;
  padding: 0.1rem 0.3rem;
}

.first-sec fieldset div {
  display: flex;
  gap: 0.5rem;
}

.first-sec div div {
  width: 3rem;
  height: 3rem;
}

.first-sec span {
  align-self: center;
}

.search-sec {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 4rem;
  gap: 0.5rem;
  grid-row: 1 / span 1;
  grid-column: 2 / span 1;
  z-index: 10;
}

.buttons-sec {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row: 1 / span 1;
  grid-column: 3 / -1;
  z-index: 2;
}

.buttons-sec div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 8rem;
  gap: 0.5rem;
}

button {
  color: white;
  background: linear-gradient(to bottom, rgb(0, 0, 0), rgb(2, 116, 116));
}

button:hover {
  color: white;
  background: rgb(0, 88, 88);
  cursor: pointer;
}

.buttons-sec button:first-child {
  width: 100%;
  font-weight: 500;
}

.buttons-sec button {
  font-size: 1rem;
  font-weight: 600;
  padding: 0.1rem;
  width: 3.5rem;
  height: 2rem;
  border-radius: 0.7rem;
  transition: transform 0.2s ease-in;
}

.buttons-sec button:hover {
  transform: scale(1.05);
}

.main-sec {
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;
  justify-self: center;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 1.5rem;
  width: 55rem;
  height: 45rem;
  font-size: 1.05rem;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background: linear-gradient(
    to right,
    rgba(55, 55, 109, 0.5),
    rgba(52, 109, 52, 0.5),
    rgba(133, 100, 58, 0.5)
  );
  box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.5);
  z-index: 10;
}

.last-sec {
  align-self: flex-start;
  display: grid;
  justify-items: flex-end;
  align-items: flex-start;
  color: white;
  padding: 1rem 0.5rem;
  width: 100%;
  height: 40rem;
  background-image: url(./assets/rain.jpg);
  background-size: cover;
  background-position: center center;
  cursor: context-menu;
  border-radius: 1rem;
  grid-row: 2 / -1;
  grid-column: 3 / -1;
  z-index: 2;
  transition: transform 0.3s ease-in-out;
}

.last-sec:hover {
  transform: scale(1.05);
}

.last-sec fieldset {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
  gap: 1rem;
  margin-top: 5rem;
}

.last-sec legend {
  font-weight: 800;
  color: black;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 1rem;
  padding: 0.1rem 0.3rem;
}

.last-sec fieldset > div {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 1.5rem;
  padding: 0 0.2rem;
  color: rgb(0, 0, 0);
  align-self: flex-end;
  display: flex;
  justify-content: flex-end;
}

.last-sec svg {
  fill: black;
}

.last-sec fieldset div div:last-child {
  width: 5rem;
  height: 5rem;
}

.last-sec fieldset div div:first-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.last-sec span {
  font-weight: 600;
  text-align: right;
}

.last-sec span:last-child {
  font-size: 1.4rem;
}

.small {
  font-size: 0.9rem;
}

input {
  width: 20rem;
  padding-left: 0.5rem;
}

input,
.search-sec > button {
  height: 2rem;
  font-size: 1rem;
  border-radius: 1rem;
}

.search-sec > div:first-child > button {
  width: fit-content;
  font-weight: 500;
  padding: 0 0.5rem;
}

input:hover {
  background-color: rgb(197, 223, 223);
}

h1 {
  align-self: center;
  font-size: 2rem;
  color: rgb(31, 31, 31);
  font-weight: 700;
  cursor: context-menu;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 1rem;
  padding: 0 0.5rem;
}

h2 {
  display: none;
  font-size: 2.2rem;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 1rem;
  padding: 0.1rem 0.5rem;
  cursor: context-menu;
}

h3 {
  justify-self: center;
  color: black;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 0 0.5rem;
  border-radius: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  cursor: context-menu;
}

.main-sec fieldset {
  border: 1px solid rgb(255, 255, 255);
  border-radius: 1.5rem;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem;
  cursor: context-menu;
  transition: transform 0.3s ease-in-out;
}

.main-sec fieldset:hover {
  transform: scale(1.05);
  background-color: rgba(0, 0, 0, 0.5);
}

.main-sec legend {
  font-size: 1.3rem;
  font-weight: 600;
  margin-left: 2rem;
  padding: 0.1rem 0.4rem;
  border-radius: 1rem;
  border: 1px solid white;
  background-color: rgb(0, 0, 0);
}

.location-details,
.weather-forecast {
  width: 40rem;
}

.temperature,
.wind-speed {
  display: flex;
}

.temperature button,
.wind-speed button {
  margin-left: auto;
}

.location-details div {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.weather-div {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(2, 1fr);
  gap: 1rem;
}

.weather-div > div {
  display: grid;
  grid-template: 1fr 2fr / 1fr 3.5fr;
  column-gap: 0.3rem;
}

.weather-div > div > div {
  grid-row: 1 / -1;
  width: 3rem;
  align-self: center;
  justify-self: flex-end;
}

.weather-div > div > span {
  font-size: 0.9rem;
}

.weather-div > div > span:last-child {
  font-size: 1.4rem;
  font-weight: 600;
}

em {
  font-size: 1rem;
}

svg {
  fill: white;
}

.location-details fieldset span {
  font-size: 1.1rem;
  font-weight: 600;
}

.main-sec fieldset p {
  background-color: rgb(0, 0, 0);
  border-radius: 1rem;
  padding: 0.2rem;
}

.load {
  display: none;
  width: 2.5rem;
  height: 2.5rem;
  background: linear-gradient(to bottom, rgb(0, 31, 31), rgb(6, 141, 141));
  box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  animation: bounce 1s infinite;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}
