body * {
  letter-spacing: 0.1rem;
  /* border: 2px solid teal; */
}

body {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  flex-direction: column;
  background-image: url(./assets/seasons.jpeg);
  background-size: cover;
  background-position: center center;
  height: 100vh;
  position: relative;
}

body > div:first-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

body > section {
  border: 1px solid rgb(255, 255, 255);
  width: 55rem;
  height: 45rem;
  font-size: 1.05rem;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background: linear-gradient(
    to right,
    rgba(55, 55, 109, 0.7),
    rgba(52, 109, 52, 0.7),
    rgba(133, 100, 58, 0.7)
  );
  box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.5);
  z-index: 2;
}

body > div:nth-child(2) {
  z-index: 2;
}

input {
  width: 20rem;
  padding-left: 0.2rem;
}

input,
body > div:nth-child(2) > button {
  height: 2rem;
  font-size: 1rem;
}

input:hover {
  background-color: rgb(229, 213, 190);
}

button:hover {
  background-color: burlywood;
  cursor: pointer;
  color: rgb(83, 83, 83);
}

.heading {
  display: flex;
  width: 40rem;
  justify-content: space-between;
}

.heading > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.heading button {
  width: 6rem;
  border-radius: 1rem;
}

h1 {
  align-self: center;
  font-size: 2.2rem;
  color: rgb(31, 31, 31);
  font-weight: 700;
  cursor: context-menu;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 1rem;
  padding: 0 0.5rem;
}

h2 {
  font-size: 2.2rem;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 1rem;
  padding: 0 0.5rem;
  cursor: context-menu;
}

fieldset {
  border: 1px solid rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem;
  cursor: context-menu;
  transition: transform 0.3s ease-in-out;
}

fieldset:hover {
  transform: scale(1.05);
  background-color: rgba(0, 0, 0, 0.5);
}

legend {
  font-size: 1.3rem;
  font-weight: 600;
  margin-left: 2rem;
  padding: 0.1rem 0.4rem;
  border-radius: 1rem;
  border: 1px solid white;
  background-color: rgb(0, 0, 0);
}

.location-details,
.weather-forecast {
  width: 40rem;
}

.temperature,
.wind-speed {
  display: flex;
}

.temperature button,
.wind-speed button {
  margin-left: auto;
}

.location-details div {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.weather-div {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(2, 1fr);
  gap: 1rem;
}

.weather-div > div {
  display: grid;
  grid-template: 1fr 2fr / 1fr 3.5fr;
}

.weather-div > div > div {
  grid-row: 1 / -1;
}

.weather-div > div > span {
  font-size: 0.9rem;
  font-weight: 600;
}

.weather-div > div > span:last-child {
  font-size: 1.5rem;
}

svg {
  fill: white;
  width: 100%;
  height: 100%;
}

section fieldset span {
  font-size: 1.1rem;
}

fieldset p {
  background-color: rgb(0, 0, 0);
  padding: 0.2rem;
}

.load {
  display: none;
  width: 2.5rem;
  height: 2.5rem;
  background-color: rgb(228, 171, 92);
  border-radius: 50%;
  animation: bounce 1s infinite;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}
